<div class="flex flex-1 justify-center items-center relative">
  <div class="absolute top-0 left-0 py-4 px-5 logo text-4xl font-semibold text-main-dark cursor-default w-full">Dancined
    <div class="ml-6 border-b-4 border-main-dark h-4 w-1/2">&nbsp;</div>
  </div>
  <div class="container">
    <form>
      <div class="mb-4">
        <h1 class="text-3xl font-semibold text-main">Logowanie</h1>
        <p class="mt-3 text-sm">Wprowadź swoje dane logowanie bądź
          <a href="#" class="underline text-main hover:text-main-dark">kliknij tutaj</a>,
          aby założyć konto</p>
      </div>
      <div class="input-field">
        <label for="email">E-mail</label>
        <input type="text" name="email" id="email">
      </div>
      <div class="input-field">
        <label for="password">Hasło</label>
        <input type="text" name="password" id="password">
      </div>
      <div class="py-2 mt-4 flex justify-between items-center">
        <label class="text-gray-800"><input type="checkbox"/> Zapamiętaj mnie</label>
        <button class="btn btn-primary">Zaloguj</button>
      </div>
    </form>
  </div>
</div>
<div class="flex-1 right-pane hidden md:block">&nbsp;</div>
