@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
:host {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  > div:nth-child(1) {
    flex: 1;
  }
  > div:nth-child(2) {
    width: 63%
  }
  .container {
    width: 50%;
    max-width: 24rem;
    min-width: 22rem;
    form h1 {
      letter-spacing: 0.14rem;
    }
  }
  .logo {
    font-family: 'Nunito';
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  .right-pane {
    background-image: url('/assets/img/sign-in.jpg');
    background-size: cover;
    background-position: center center;
  }
  .input-field {
    @apply py-1.5 flex flex-col gap-y-2 text-gray-800;
    label {
      display: block;
    }
    input:not([type='submit']) {
      @apply border border-gray-400 w-full py-2 px-4 rounded-xl drop-shadow-md
    }
  }
}
