@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Oswald:wght@300&display=swap');
:host {
  display: flex;
  flex-direction: row;
  justify-content: start;
  min-height: 100vh;
  background-image: url('/assets/img/sign-in.jpg');
  background-size: cover;
  background-position: center center;
  > div:nth-child(1) {
    @apply w-full sm:w-1/2 2xl:w-1/3 2xl:mx-56 min-w-min sm:px-10;
    background-color: #FEFEFE;
    transition: all 0.5s;
  }
  .container {
    width: 50%;
    max-width: 24rem;
    min-width: 22rem;
    form h1 {
      letter-spacing: 0.14rem;
      font-family: 'Oswald';
    }
  }
  .logo {
    font-family: 'Nunito';
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  .right-pane {
  }
  .input-field {
    @apply py-1.5 flex flex-col gap-y-2 text-gray-800;
    label {
      display: block;
    }
    input:not([type='submit']) {
      @apply border border-gray-400 w-full py-2 px-4 rounded-xl drop-shadow-md
    }
  }
  .input-error {
    @apply text-sm text-red-800;
  }
}
