<div
  class="bg-main flex-1 min-h-screen text-white absolute md:static"
  [ngClass]="hide ? 'sidebar-hide' : 'w-full sm:w-64'">
  <div class="flex flex-col min-h-screen">
    <div class="border-b-2 border-main-dark flex justify-between items-center py-3 mb-2 px-3 h-16">
      <div class="text-2xl font-semibold text-white cursor-default hidden-text">
        {{ title }}
      </div>
      <div class="centered-margin"><i class="pi pi-bars text-xl icon" (click)="hide = !hide"></i></div>
    </div>
    <div class="middle-content flex flex-col gap-y-2 sidebar-padding">
      <div *ngFor="let group of navigationItems">
        <ng-container *ngxPermissionsOnly="group.items | pluck: 'permissions'">
          <div class="group-title hidden-text">{{ group?.name }}</div>
          <div class="flex flex-col gap-y-1">
            <ng-container *ngFor="let item of group.items">
              <div
                *ngxPermissionsOnly="item.permissions ?? []"
                [routerLink]="item.route"
                class="flex items-center gap-x-2 nav-item"
                [pTooltip]="item.title"
                [tooltipDisabled]="!hide"
                routerLinkActive="nav-item-active"
                [routerLinkActiveOptions]="{ exact: true }">
                <div><i class="{{ item.icon }} text-lg"></i></div>
                <div class="text-md hidden-text">{{ item.title }}</div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="py-2 sidebar-padding">
      <div class="nav-item nav-item-active">
        <app-user-settings></app-user-settings>
      </div>
    </div>
  </div>
</div>
