.middle-content {
  flex: 1;
}
.nav-item {
  @apply px-3 py-2 rounded;
  &:hover, &.nav-item-active {
    //background-color: rgba(255, 255, 255, 0.09);
    @apply bg-main;
    filter: brightness(118%);
    cursor: pointer;
  }
  &.nav-item-active {
    filter: brightness(109%);
    cursor: default;
  }
}
.group-title {
  @apply text-sm mb-1.5;
  color: rgba(255, 255, 255, 0.45)
}
.icon:hover {
  @apply text-gray-300 cursor-pointer;
}

