@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
:host {
  font-family: 'Source Sans Pro';
  transition: all 0.5s;
}
.middle-content {
  flex: 1;
}
.nav-item {
  @apply px-3 py-2 rounded;
  &:hover, &.nav-item-active {
    //background-color: rgba(255, 255, 255, 0.09);
    @apply bg-main;
    filter: brightness(115%);
    cursor: pointer;
  }
  &.nav-item-active {
    filter: brightness(110%);
    cursor: default;
  }
}
.group-title {
  @apply text-sm mb-1.5;
  color: rgba(255, 255, 255, 0.45)
}
.icon:hover {
  @apply text-gray-300 cursor-pointer;
}
.sidebar-padding {
  @apply px-3;
}
