@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Poppins:wght@400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}

.btn {
  @apply py-2 px-6 rounded-lg;
}
.btn-primary {
  @apply bg-main text-white hover:bg-main-dark
}
.sidebar-hide {
  position: static;
  .hidden-text {
    display: none;
  }
  .centered-margin {
    margin: 0 auto;
  }
}

.page-header {
  @apply flex justify-between items-center mb-5;
  .page-title {
    @apply text-2xl;
  }
}
